*{
    margin: 0;
    overflow: hidden;
}
.welcome_text{
    width: 100vw;
    height: 100vh;
    background-color: #1A1A1D;
    margin: 0;
}

.logo_head{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.fa{
    width: 23vw;
    height: 25vh;
    position: relative;
    left: 10vw;
    top: 20vh;
    margin: 0;
    animation: slide-right;
    animation-duration: 1.5s;
}

@keyframes slide-right {
    0%{
        left: -80vw;
        opacity: 0;
    }
    100%{
        left: 10vw;
    }
}

.bu{
    width: 23vw;
    height: 25vh;
    position: relative;
    left: 10vw;
    top: 20vh;
    margin: 0;
    animation: slide-down;
    animation-duration: 2s;
}

@keyframes slide-down {
    0%{
        top: -100vh;
    }
    100%{
        top: 20vh;
    }
}
.lor{
    width: 34vw;
    height: 28vh;
    position: relative;
    left: 10vw;
    top: 20.6vh;
    margin: 0;
    animation: slide-left;
    animation-duration: 1.5s;
}
@keyframes slide-left{
    0%{
        left : 100vw;
    }
    100%{
        left: 10vw;
    }
}

.line_index{
    width: 90.9vw;
    height: 100vh;
}
.line_index hr{
    width: 100vw;
    height: 1vh;
    border: none;
    background-color: #4E4E50;
    position: relative;
    top: 22vh;
    left: 10vw;
    animation: lines;
    animation-duration: 2s;
}
@keyframes lines{
  0%{
      width: 0vw;
  }
    100%{
        width: 90.9vw;
    }
}

.buttons{
    width: 200vw;
    height: 100vh;
    position: relative;
    top: -40vh;
    left: 30vw;
}

.login{
  border: solid 0.4vw #C3073F;
    width: 10vw;
    text-align: center;
    height: 6vh;
    animation: login_up;
    animation-duration: 1.5s;
    position: relative;
    top: 4.5vh;
}
@keyframes login_up{
    0%{
        top: 50vh;
    }
    100%{
        top: 4.5vh;
    }
}
.login_button{
    text-decoration: none;
    color: white;
    background: none;
    width: 10vw;
    height: 5vh;
    border: none;
    position: relative;
    top: -4.7vh;
    font-size: 1.5vw;
    font-family: "Agency FB";
}
.background_white{
    width: 10vw;
    height: 6vh;
    position: relative;
    top: 0vh;
}

.login:hover .login_button{
    color: black;
    animation: color_Change;
     animation-duration: 0.5s;
}
.welcome_text:hover .background_white{
    animation: back_out;
    animation-duration: 2s;
    animation-delay: inherit;
}
@keyframes back_out {
    0%{
        top: 0vh;
        background-color: white;

    }
    100%{
        top: 10vh;
        background-color: white;
    }
}
@keyframes color_Change {
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}
.login:hover .background_white{
    animation: upup_background;
    animation-duration: 1s;
    background-color: white;
}
@keyframes upup_background {
    0%{
        top: 10vh;
        background-color: white;
    }
    100%{
        top: 0vh;
        background-color: white;
    }
}
.signup{
    border: solid 0.4vw #C3073F;
    width: 10vw;
    text-align: center;
    height: 6vh;
    position: relative;
    left: 30vw;
    top: -2vh;
    animation: sign_up;
    animation-duration: 2s;
}
@keyframes sign_up{
    0%{
        top: 50vh;
    }
    100%{
        top: -2vh;
    }
}
.signup_button{
    text-decoration: none;
    color: white;
    background: none;
    width: 10vw;
    height: 5vh;
    border: none;
    position: relative;
    top: -5vh;
    font-family: "Agency FB";
    font-size: 1.5vw;
}

.signup:hover .signup_button{
    color: black;
    animation: color_Change;
    animation-duration: 0.5s;
}
.background_white_up{
    width: 10vw;
    height: 6vh;
    position: relative;
    top: 0vh;
}
.signup:hover .background_white_up{
    animation: upup_background;
    animation-duration: 2s;
    background-color: white;
}
@keyframes upup_background{
    0%{
        top: 10vh;
        background-color: white;
    }
    100%{
        top: 0vh;
        background-color: white;
    }
}

.welcome_text:hover .background_white_up{
    animation: back_out;
    animation-duration: 2s;
    animation-delay: inherit;
}

.back_button {
    width: 100vw;
    position: relative;
    left: 32.5vw;
     top: 7vh;
    animation: button_intro;
    animation-duration: 1.5s;
}
@keyframes button_intro {
    0%{
        left: -30vw;
    }
    100%{
        left: 32.5vw;
    }
}
.sign_box{
    width: 30vw;
    height: 80vh;
    border: solid 0.4vw #C3073F;
    position: relative;
    left: 35vw;
    background-color: #1A1A1D;
    animation: sign_box_intro;
    animation-duration: 3s;
    text-align: center;
    z-index: 2;
}
@keyframes sign_box_intro {
    0%{
        height: 0vh;
    }
    100%{
        height: 80vh;
    }
}

.sign_box h1{
    font-family: "Agency FB";
    color: #C3073F;
    font-size: 6vw;
}

.email{
font-family: "Agency FB";
    color: #C3073F;
    font-size: 2vw;
    position: relative;
    left: -11.5vw;
    top: 5vh;
}
#input_email{
    position: relative;
    top: 5vh;
    left: -1.7vw;
    width: 24vw;
    height: 7vh;
    background: none;
    color: white;
    font-family: "Agency FB";
}
.username{
    font-family: "Agency FB";
    color: #C3073F;
    font-size: 2vw;
    position: relative;
    left: -10vw;
    top: 7vh;
}
#input_username{
    position: relative;
    top: 7vh;
    left: -1.7vw;
    width: 24vw;
    height: 7vh;
    background: none;
    color: white;
    font-family: "Agency FB";
}
.signup_thing{
    border: solid 0.3vw #C3073F;
    width: 10vw;
    position: relative;
    top: 15vh;
    height: 5vh;
    left: 9vw;
}
#register{
    background: none;
    border: none;
    color: #4E4E50;
    position: relative;
    top: 0.7vh;
    font-family: "Agency FB";
    font-size: 1.5vw;
}
.password{
    position: relative;
    top: 8vh;
    left: -10vw;
    color: #C3073F;
    font-family: "Agency FB";
    font-size: 2vw;
}
#input_password{
    position: relative;
    top: 8vh;
    left: -1.7vw;
    width: 24vw;
    height: 7vh;
    background: none;
    color: white;
    font-family: "Agency FB";
}

.signup_thing:hover #register{
   color: white;
}
.notice_email_error{
    color: white;
    font-family: "Agency FB";
    position: relative;
    top: 5vh;
    left: 35.3vw;
    margin: 0;
    border: solid 0.2vw #C3073F;
    width: 30vw;
    text-align: center;
    animation: error;
    animation-duration: 2s;
    animation: repeat_error;
    animation-iteration-count:infinite;
    animation-duration: 2s;
}
@keyframes error{
    0%{
        top: -100vh;
    }
    100%{
        top: 5vh;
    }
}
@keyframes repeat_error{
    0%{
        background-color: #1A1A1D;
    }
    100%{
        background-color: #C3073F;
    }
    0%{
        background-color: #1A1A1D;
    }
}
.username_error{
    color: white;
    font-family: "Agency FB";
    position: relative;
    top: 6vh;
    left: 35.3vw;
    margin: 0;
    border: solid 0.2vw #C3073F;
    width: 30vw;
    text-align: center;
    animation: error;
    animation-duration: 2s;
    animation: repeat_error;
    animation-iteration-count:infinite;
    animation-duration: 2s;
}
.same_email_error{
    color: white;
    font-family: "Agency FB";
    position: relative;
    top: 5vh;
    left: 35.3vw;
    margin: 0;
    border: solid 0.2vw #C3073F;
    width: 30vw;
    text-align: center;
    animation: error;
    animation-duration: 2s;
    animation: repeat_error;
    animation-iteration-count:infinite;
    animation-duration: 2s;
}
.password_error{
    color: white;
    font-family: "Agency FB";
    position: relative;
    top: 7vh;
    left: 35.3vw;
    margin: 0;
    border: solid 0.2vw #C3073F;
    width: 30vw;
    text-align: center;
    animation: error;
    animation-duration: 2s;
    animation: repeat_error;
    animation-iteration-count:infinite;
    animation-duration: 2s;
}
.background_text{
    position: relative;
    top: -80vh;
    left: 0vw;
    width:210vw;
    height: 200vh;
}
.background_text h1{
    position: relative;
    top: -21vh;
    left: 7vw;
    font-family: "Agency FB";
    color: #C3073F;
    transform: rotate(-10deg)
               skew(5deg);
    font-size: 28vw;
   z-index: 1;
}